 .btn {
     text-align: center;
     background-color: rgb(30, 128, 255);
     border: none;
     color: white;
     margin-left: 35%;
     font-size: 20px;
     height: 100px;
     width: 400px;
     text-align: center;
 }
 
 p {
     text-align: center;
     font-size: 30px;
     font-family: monospace;
 }
 
 h1 {
     text-align: center;
     font-size: 7rem;
     font-family: 'Rubik Beastly', cursive;
     font-weight: lighter;
 }
 
 .heading {
     padding-bottom: 5%;
 }
 
 .voice {
     font-family: "Nosifer";
     text-align: center;
     margin-top: -5%;
 }
 
 h2 {
     font-family: 'Times New Roman', Times, serif;
     font-size: 40px;
 }
 
 .install-features {
     padding-top: 6%;
     padding-bottom: 10%;
 }
 
 body {
     background-color: #0c2241;
     background: #1a223d;
     background: -webkit-linear-gradient(to right, #000308, #030d2e);
     background: linear-gradient(to right, #ddc0db, #6b8bf1);
 }
 
 .social-media {
     margin: 3% 4%;
     size: 5x;
 }
 
 .socialmedia {
     padding-top: 10%;
     padding: 10% 10% 10%;
     text-align: ;
 }
 
 .social-media:hover {
     color: rgb(48, 26, 63);
     transform: social-media(2);
 }
 
 .sunilr {
     padding-top: 10%;
     float: left;
 }
 
 .sayba {
     padding-top: 10%;
     float: right;
 }
 
 li {
     font-family: sans-serif;
     font-size: 25px;
 }
 
 .features {
     float: left;
     padding-left: 7%;
 }
 
 .install {
     float: right;
     padding-right: 7%;
 }
 
 .lastp {
     padding: 15% 0 5%;
 }