         .btn {
             text-align: center;
             background-color: rgb(30, 128, 255);
             border: none;
             color: white;
             margin-left: 35%;
             font-size: 20px;
             height: 100px;
             width: 400px;
         }
         
         p {
             text-align: center;
             font-size: 30px;
             font-family: monospace;
         }
         
         h1 {
             text-align: center;
             font-size: 7rem;
             font-family: 'Rubik Beastly', cursive;
             font-weight: lighter;
         }
         
         .heading {
             padding-bottom: 5%;
         }
         
         .voice {
             font-family: "Nosifer";
             text-align: center;
             margin-top: -5%;
         }
         
         h2 {
             font-family: 'Times New Roman', Times, serif;
             font-size: 40px;
         }
         
         .install-features {
             padding-top: 6%;
             padding-bottom: 10%;
         }
         
         body {
             background-color: #0c2241;
             background: #1a223d;
             background: -webkit-linear-gradient(to right, #000308, #030d2e);
             background: linear-gradient(to right, #ddc0db, #6b8bf1);
         }
         
         .social-media {
             margin: 3% 4%;
             size: 5x;
         }
         
         .socialmedia {
             padding-top: 10%;
             padding: 10% 10% 10%;
             text-align: center;
         }
         
         .social-media:hover {
             color: rgb(48, 26, 63);
             transform: social-media(2);
         }
         
         .sunilr {
             padding-top: 10%;
             float: left;
             text-align: center;
         }
         
         .sayba {
             padding-top: 10%;
             float: right;
             text-align: center;
         }
         
         li {
             font-family: sans-serif;
             font-size: 25px;
             padding-bottom: 3%;
         }
         
         .features {
             float: left;
             padding-left: 7%;
         }
         
         .install {
             float: right;
             padding-right: 7%;
         }
         
         .lastp {
             padding: 15% 0 5%;
         }
         /* Mobile Styles */
         
         @media only screen and (max-width: 400px) {
             h1 {
                 font-size: 6rem;
             }
             p {
                 font-size: 25px;
             }
             .btn {
                 margin-left: 8%;
                 font-size: 30px;
             }
             .voice {
                 margin-top: -10%;
             }
             li {
                 font-size: 20px;
                 padding-bottom: 5%;
             }
             .features {
                 padding-left: 5%;
                 margin-bottom: -2%;
             }
             .sunilr {
                 text-align: center;
                 margin-left: 18%;
                 margin-top: 10%;
             }
             .social-media {
                 margin: 3% 5%;
                 size: 5x;
             }
         }
         
         @media only screen and (min-width: 401px) {
             .lastp {
                 padding-top: 210%;
                 font-size: 10px;
             }
             #footer {
                 padding-top: 5%;
             }
         }